<a href="https://colab.research.google.com/github/Birmjune/Machine-Learning/blob/main/KNN_iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from sklearn.neighbors import KNeighborsClassifier
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from sklearn.datasets import load_iris

In [5]:
iris_dataset = load_iris()

In [9]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(iris_dataset["data"], iris_dataset["target"], random_state = 0)

In [13]:
iris_dataframe = pd.DataFrame(X_train, columns = iris_dataset.feature_names)

In [14]:
iris_dataframe

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.9               3.0                4.2               1.5
1                  5.8               2.6                4.0               1.2
2                  6.8               3.0                5.5               2.1
3                  4.7               3.2                1.3               0.2
4                  6.9               3.1                5.1               2.3
..                 ...               ...                ...               ...
107                4.9               3.1                1.5               0.1
108                6.3               2.9                5.6               1.8
109                5.8               2.7                4.1               1.0
110                7.7               3.8                6.7               2.2
111                4.6               3.2                1.4               0.2

[112 rows x 4 columns]

In [15]:
#KNN
knn = KNeighborsClassifier(n_neighbors=1)

In [16]:
knn.fit(X_train, Y_train)

KNeighborsClassifier(n_neighbors=1)

In [17]:
#정확도
knn.score(X_test, Y_test)

0.9736842105263158

In [22]:
#값 예측
X_new = np.array([[5.3,2,1.1,0.3]])
prediction = knn.predict(X_new)
print(prediction)
print(iris_dataset["target_names"][prediction])

[0]
['setosa']

In [23]:
import mglearn

ModuleNotFoundError: ignored